<!--
 Title: about.component.html
 Author: Professor Krasso
 Modified By: Anita Taylor
 Date: 10/26/2022
 Description: Exercise 2.4 – Routing in Action - about.component.html
-->

<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Wolfgang Amadeus Mozart</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <!-- composer profile image-->
      <img src="./assets/wolfgang-mozart.jpeg" alt="Wolfgang Mozart" style="max-width: 200px" />
      <!-- image caption -->
      <figcaption>
        Image:
        <a
          href="https://en.wikipedia.org/wiki/Wolfgang_Amadeus_Mozart#/media/File:Croce-Mozart-Detail.jpg"
          >Wolfgang Mozart</a
        >
      </figcaption>
    </div>
    <div class="col-sm-9">
      <!-- Composer bio -->
      <p>
       
       Joannes Chrysostomus Wolfgangus Theophilus Mozart, was a prolific and influential composer of the Classical period. Mozart performed as a pianist, in a competition before the Emperor with Muzaio Clementi on December 24th of 1781. He wrote the opera "The Abduction from the Seraglio" among others. His most well-known works are "serenade No. 13", "Symphony No. 41",  and "the magic flute." Mozart was a grand composer and his works are still being used today in many applications. 


        <em class="apa-reference"
          ><a
            href="https://en.wikipedia.org/wiki/Wolfgang_Amadeus_Mozart"
            target="_blank"
            >Source</a
          ></em
        >
      </p>
    </div>
  </div>
</div>