<div fxLayout="row">
  <div fxFlex>
      <mat-card-title>
          <img src="../../assets/LOANLOGO.png">
      </mat-card-title>

      <mat-card-content>
          <p>All-Quickie-Loans created by the company Quickie Loans Inc.
           The Company Quickie Loans Inc. was created by a group of developers focused on creating free
           loan tools for ordinary people like us to calculate interest and work on reducing debt without having to sign up for a service
           they do not need. This idea began at Bellevue University in July of 2020. One of the developers of the product was far
           enough in debt he was ready to file chapter 11 bankruptcy and could not find a free way to figure out what he owed and how to pay it off.
           He realized that all the free loan apps had fine print requiring a sign up or some
           other way to trick people into contracts with large interest rates.  They wanted to create a product to calculate debt and interest
            that has have no sign up requirement. They read several websites and made notes of what
           they offered and then created their own free version. It is so nice not to have to deal with all the requirements and to be able to use it more
           than once without penalties or being locked out because you didn't sign up to have someone call you to discuss it.</p>
          <p> Quickie loans Inc. created their first free product the All-quickie-loan-calculator. It is their most popular application.
            12,500 people downloaded it from all different application platforms. The All-quickie-loans website has been visited by more than 20,000
           people within the first 4 months of being released. </p>
          <p>The loan calculators color scheme came from my favorite house in Harry Potter which is Gryffindor. The colors are maroon and gold. Please reach
           out to us if you have any questions or concern.</p>

      </mat-card-content>
  </div>
</div>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
AP
