<!--
  Title: contact-us.component.html
  Author: Manel Phiseme
  Date: 11 December 2022
  Description: Loan application
-->

<div fxLayout="row wrap" style="background-color: #5c0000 ">
  <div fxFlex style="background-color: #fb7e00">

          <mat-card-title class="card-title-icon">
              <mat-icon >call</mat-icon>
          </mat-card-title>
          <br/>
          <mat-card-content>
              <p>10420 Q st</p>
              <p>Omaha, Ne, 68154</p>
          </mat-card-content>
  </div>

      <div fxFlex>
          <mat-card-title>
              <mat-icon >navigation</mat-icon>
          </mat-card-title>
          <mat-card-content>
              <p>Direct: 402-555-6000</p>
              <p>Tool Free: 800-555-6000</p>
              <p>Fax: 1800-556-6000</p>
          </mat-card-content>
      </div>

</div>
