<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets\mark_twain.jpg" />
      </div>
      <div>
        <em>
          Portrait for Time by Michael J. Deas <a class="attribution-link" href="https://content.time.com/time/daily/2008/0807/360_pb_0714.jpg" target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="blue">Who was Mark Twain?</h1>
    <p>
      Samuel Clemens was born on November 30‚ 1835 in Florida‚ Missouri‚ the sixth of seven children.
      In 1847‚ when Sam was 11‚ his father died. Shortly thereafter he left school to work as a printer’s apprentice for a local newspaper. His job was to arrange the type.
      At 18‚ Sam headed east to New York City and Philadelphia‚ where he worked on several different newspapers and found some success at writing articles.
      In search of a new career‚ Sam headed west in July 1861‚ at the invitation of his brother‚ Orion‚ who had just been appointed secretary of the Nevada Territory.
      In 1865 Sam’s first “big break” came with the publication of his short story “Jim Smiley and His Jumping Frog ” in papers across the country.
      Sam published his most famous book The adventures of Huckleberry Finn in 1884 while attacking the institution of slavery, railing against the failures of reconstruction.
      and discussing the continued poor treatment of African Americans in his own time.
    </p>
    <em>Biography by: <a href="https://marktwainhouse.org/about/mark-twain/biography/" target="_blank" class="attribution-link">Mark Twain House and Museum</a></em>
  </div>
</div>
